@media screen and (min-width: 428px) {
  .container {
    max-width: 458px;
  }

  .hero-title {
    font-size: 36px;
  }

  .mob-address-tel {
    font-size: 36px;
  }

  .mob-soc-list {
    gap: 56px;
  }

  .modal-wrapper {
    width: 100%;
  }
}

/** --------------------- TABLET --------------------- */
@media screen and (min-width: 768px) {
  .container {
    max-width: 798px;
  }

  .open-menu-button {
    display: none;
  }

  .header-logo {
    margin-left: 16px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-menu.list {
    list-style: none;
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--notmain-color);
    padding: 24px 0;
  }

  .header-menu-link.link {
    text-decoration: none;
  }

  .current {
    position: relative;
  }

  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }

  .header-menu-link.current {
    color: #404bbf;
  }

  .header-address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list.list {
    list-style: none;
  }

  .header-address-item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transition-effect);
  }

  .header-address-item.link {
    text-decoration: none;
  }

  .header-address-item.link:hover,
  .header-address-item.link:focus {
    color: #404bbf;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/tablet-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/tablet-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .benefits-list {
    column-gap: 24px;
  }

  .benefits-subtitle {
    text-align: left;
  }

  .team-container {
    max-width: 584px;
  }

  .team-list {
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    max-width: none;
  }

  .customers>.container {
    max-width: 584px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;

    margin: 0 auto;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 530px;
    margin-bottom: 0;
    align-items: baseline;
    justify-content: flex-start;
  }

  .footer-general {
    margin-bottom: 0;
  }

  .footer-logo.link {
    text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 16px;
  }

  .footer-social {
    margin-bottom: 0;
  }

  .footer-social-text {
    text-align: left;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-text {
    text-align: left;
  }

  .footer-subscribe-input {
    width: 264px;
  }

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    width: unset;
    justify-content: center;
    margin-bottom: 64px;
  }

  .portfolio-button {
    padding: 12px 24px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: unset;
  }

  .projects-item {
    width: 356px;
    width: calc((100% - 24px) / 2);
  }
}

/** --------------------- DESKTOP --------------------- */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1188px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-menu.list {
    list-style: none;
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--notmain-color);
    padding: 24px 0;
    transition: color var(--transition-effect);
  }

  .header-menu-link.link {
    text-decoration: none;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-menu-link.current {
    color: #404bbf;
  }

  .header-address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .header-address-list {
    display: flex;
    gap: 40px;
  }

  .header-address-list.list {
    list-style: none;
  }

  .header-address-item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color var(--transition-effect);
  }

  .header-address-item.link {
    text-decoration: none;
  }

  .header-address-item.link:hover,
  .header-address-item.link:focus {
    color: #404bbf;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/desctop-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/desctop-bg-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .benefits {
    padding: 120px 0;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-item-text {
    font-weight: 400;
  }

  .benefits-item-block {
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefits-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .works {
    padding-bottom: 120px;
    display: block;
  }

  .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: var(--notmain-color);
    margin-bottom: 72px;
  }

  .works-list {
    display: flex;
    gap: 24px;
  }

  .works-list.list {
    list-style: none;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .customers {
    padding: 120px 0;
  }

  .customers>.container {
    max-width: 1158px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 0 24px;
    justify-content: space-between;
    margin: 0 auto;
  }

  .footer-general {
    margin-bottom: 0;
    margin-right: 120px;
  }

  .footer-subs-wrap {
    margin-left: auto;
  }

  .modal-wrapper {
    overflow: hidden;
  }

  /* ! */
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    margin-bottom: 72px;
  }

  .projects {
    gap: 48px 24px;
  }

  .projects-item {
    width: 360px;
    width: calc((100% - 24px * 2) / 3);
  }
}