:root {
  --logo-footer: #f4f4fd;
  --logo-color-main: #4d5ae5;
  --hero-sect-color: #ffffff;
  --notmain-color: #2e2f42;
  --footer-color-logotext: #f4f4fd;
  --main-color: #434455;
  --button-color: #e7e9fc;
  --hover-focus-color: #404bbf;
  --hover-focus-bgc: #31d0aa;
  --customers-color: #8e8f99;
  --transition-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;

}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/** ---------------------HEADER--------------------- */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-list {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-main);
  margin-right: 76px;
  display: flex;
  align-items: center;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.header-logo.link {
  text-decoration: none;
}
.header-logo-span {
  color: #2e2f42;
}
.header-hamburger-icon {
  stroke: #2e2f42;
}
.header-menu, .header-address {
  display: none;
}
.open-menu-button {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
}
.mob-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  padding: 80px 35px 40px 40px;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.close-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background: rgba(231, 233, 252, 0.1);
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.header-hamburger-icon {
  stroke: #2e2f42;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.72px;
  color: #2E2F42;
  text-decoration: none;
}
.mob-current {
  color: var(--hover-focus-color);
}
.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.mob-address {
  margin-top: 40px;
  margin-bottom: 48px;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-address-tel {
  color: var(--logo-color-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-decoration: none;
  font-style: normal;
}
.mob-address-email {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-decoration: none;
  font-style: normal;
}
.mob-soc-list {
  display: flex;
  gap: 30px;
  /* justify-content: center; */
}
.mob-soc-item {
}
.mob-soc-link {
  width: 40px;
  height: 40px;
  background: var(--logo-color-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-effect);

}
.mob-soc-icon {
  fill: var(--footer-color-logotext);
}

/** ---------------------HERO SECTION--------------------- */
.hero {
  padding: 112px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg-2x.jpg);
  }
}
.hero-container {

}
.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--hero-sect-color);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 72px;
  max-width: 320px;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-sect-color);
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-width: 169px;
  transition: background-color var(--transition-effect);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/** ---------------------BENEFITS SECTION--------------------- */
.benefits {
  padding: 96px 0;
}
.benefits-container {
}
.benefits-title {
  }
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.benefits-item-block {
  display: none;
}
.benefits-item-icon {
}
.benefits-item {
  width: 100%;}
.benefits-subtitle {
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--notmain-color);
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
}
.benefits-item-text {
}

/** ---------------------WORKS--------------------- */
.works {
  display: none;
}
/** ---------------------TEAM SECTION--------------------- */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-container {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--notmain-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}
.team-list.list {
  list-style: none;
}
.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}
.team-photo {
  width: 100%;
  height: auto;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--notmain-color);
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.teammate-name {
  min-width: 232px;
  align-items: center;
  padding: 32px 0;
}
.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-soc-link {
  width: 40px;
  height: 40px;
  background: var(--logo-color-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-effect);
}
.team-soc-link:hover {
  background-color: #404bbf;
}
.team-soc-link:focus,
.team-soc-link:active {
  background-color: #404bbf;
}
.team-soc-icon {
  fill: var(--footer-color-logotext);
}

/** ---------------------CUSTOMERS--------------------- */
.customers {
padding: 96px 0;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--notmain-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}
.customers-item {
}
.customers-item-link {
  width: 168px;
  height: 88px;
  border: 1px solid var(--customers-color);
  color: var(--customers-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--customers-color);
  transition: border-color var(--transition-effect),
    color var(--transition-effect);
}
.customers-item-link:hover {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-item-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-item-icon {
  fill: currentColor;
}

/** ---------------------FOOTER--------------------- */
.footer {
  background-color: #2e2f42;
  padding-bottom: 120px;
  padding: 100px 0;
}
.footer-container {
  
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.footer-general {
  margin-bottom: 72px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-main);
  display: block;
  }
.footer-logo.link {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  color: var(--footer-color-logotext);
  max-width: 264px;
  font-weight: 400;
  margin: 0 auto;
}

.footer-social {
  margin-bottom: 72px;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-sect-color);
  margin-bottom: 16px;
  text-align: center;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-soc-item {
}
.footer-soc-link {
  width: 40px;
  height: 40px;
  background-color: var(--logo-color-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-effect);
}
.footer-soc-icon {
  fill: var(--logo-footer);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  /* display: flex; */
  flex-direction: column;
  gap: 24px;
}
.footer-subscribe-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
text-align: center;
}
.footer-subscribe-input {
width: 100%;
height: 40px;
padding-left: 16px;
border: 1px solid #FFFFFF;
opacity: 0.3;
background-color: transparent;
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: #FFFFFF;
margin-bottom: 16px;

display: block;
max-width: 100%;
}
.footer-subscribe-input::placeholder {
  color: #rgba(255, 255, 255, 0.6);
}
.footer-subscribe-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
border-radius: 4px;
border: none;
max-width: 165px;
height: 40px;
padding-left: 24px;
padding-right: 24px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-button:hover, .footer-subscribe-button:focus {
background: #404BBF;
}
.footer-subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.footer-subs-wrap {
}
/** ---------------------PORTFOLIO--------------------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-container {
}
.portfolio-title {
  
}
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-list.list {
  list-style: none;
}
.portfolio-list-item {
  margin-right: 24px;
}
.portfolio-list-item:last-child {
  margin-right: 0;
}
.buttons-container {
  margin-bottom: 72px;
}
.portfolio-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid var(--button-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/** ---------------------PROJECTS--------------------- */

.projects {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.projects.list {
  list-style: none;
}
.projects-link {
  display: block;
}
.projects-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-link:focus,
.projects-link:active {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projects-link.link {
  text-decoration: none;
}
.projects-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item {
  width: 360px;
  height: 420px;
  width: calc((100% - 24px * 2) / 3);
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.projects-text-cont {
  padding: 32px 16px;
  border: 1px solid var(--button-color);
  border-top: none;
}

.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--notmain-color);
  margin-bottom: 8px;
}
.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.portfolio-cover {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-color-logotext);
  background-color: var(--logo-color-main);
  transition: transform var(--transition-effect);
}

.projects-link:hover .portfolio-cover-text {
  transform: translateY(0%);
}
.projects-link:focus .portfolio-cover-text {
  transform: translateY(0%);
}

/* ----------------------backdrop------------------ */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-effect),
  visibility var(--transition-effect);

}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform var(--transition-effect);
  width: 95%;
  max-width: 408px;
  min-height: 584px;
  overflow: scroll;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-button-icon {
  fill: #ffffff;
}
.modal-button:focus .modal-button-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--notmain-color) ;
  margin-bottom: 16px;
}
.order-modal {
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-textarea:focus {
  border: 1px solid #4d5ae5;
}
.modal-textarea::placeholder {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
  fill: currentColor;
}
.input-wrap {
  position: relative;
}
.modal-field-checkbox {
  margin-bottom: 24px;
}
.check-link {
  color: #4d5ae5;
  margin-left: 4px;
}
.check-text {
  /* display: flex; */
  align-items: center;
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-color);
}
.user-privacy-span {
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check:checked + .check-text > .user-privacy-span {
  background-color: var(--hover-focus-color);
  border: none;
  fill: #f4f4fd;
}
.modal-check-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-button:hover, .modal-check-button:focus {
  background-color: #404bbf;
}

/* ------------------------------------------------------------------------ */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}




